#menuright {  	
float: right;
width: 202px;
padding:15px;
padding-top: 0px;
background-color: rgba(0, 0, 0, 0.01);
margin-top:67px;
position: absolute;
margin-left: 85%;
}    

#menuleft  {  
float: left;
width: 200px;
padding:13px;
padding-top: 0px;
background-color: rgba(0, 0, 0, 0.01);
margin-top:69px;
position: absolute;
}    

#menucentral  {  	
position:absolute;
margin-left: 204px;
width: 957px; 
margin-top: 40px; 
border-bottom: 0.5px;
}    

#conteudo {
 margin-top: -19px;
}
